body {
    background-color: rgb(128, 128, 128, 0.5);
}
.container {
    margin: 4rem auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 200px 200px 200px 100px;
    width: 700px;
    height: 500px;
    background-color: rgba(2, 193, 252);
}
.blue-container {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgba(2, 193, 252);
}
.blue-container img {
    height: 150px;
    width: 150px;
}
.blue-container h1 {
    margin: 0;
}
.experience-container {
    display: flex;
    grid-column: 2/-1;
    grid-row: 1/2;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.skills-container {
    display: flex;
    grid-column: 2/-1;
    grid-row: 2/3;
    background-color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}